<sa-widget [editbutton]="false" color="blueDark">
  <header>
    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
    <h2>Template Create</h2>
  </header>
  <div>
    <div class="widget-body no-padding">
      <form class="smart-form" [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
        <header>
          Template Create Form
        </header>
        <fieldset>
          <section>
            <label class="input"> <i class="icon-append fa fa-user"></i>
              <input type="text" name="name" id="name" placeholder="name"/>
              <b class="tooltip tooltip-bottom-right">Please provide a name for the template</b> </label>
          </section>
        </fieldset>
        <fieldset>
          <label class="label">Template columns</label>
          <div formArrayName="formArray">
            <div *ngFor="let control of myForm.controls['formArray'].controls; let i = index">
              <app-propertyfromsubcompoent [myForm]="myForm" [itemForm]="myForm.controls.formArray.controls[i]"></app-propertyfromsubcompoent>
            </div>
          </div>
        </fieldset>
        <footer>
          <button type="submit" (click)="submit($event)" class="btn btn-primary">
            Submit Registration
          </button>
        </footer>
      </form>
    </div>
  </div>
</sa-widget>