<sa-widget [editbutton]="false" color="blueDark">
  <header>
    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
    <h2>Template Create</h2>
  </header>
  <div>
    <div class="widget-body no-padding">
      <form class="smart-form" [formGroup]="myForm">
        <header>
          Template Create Form
        </header>
        <fieldset>
          <section *ngIf="!this.myForm.controls['isNameError'].value" class="col col-10">
            <label class="input"> <i class="icon-append fa fa-user"></i>
              <input type="text" formControlName="name" name="name" id="name" placeholder="name"/>
              <b class="tooltip tooltip-bottom-right">Please provide a name for the template</b> </label>
          </section>

          <section *ngIf="this.myForm.controls['isNameError'].value" class="col col-10">
            <label class="input"> <i class="icon-append fa fa-user"></i>
              <input type="text" formControlName="name"  placeholder="name"
                     class="ng-pristine ng-valid ng-touched invalid" aria-required="true" aria-describedby="template-name-error">
              <em id="template-name-error" class="invalid">{{this.myForm.controls['nameErrorMessage'].value}}</em>
              <b class="tooltip tooltip-bottom-right">{{this.myForm.controls['nameErrorMessage'].value}}</b>
            </label>
          </section>

        </fieldset>
        <fieldset>
          <label class="label">Template columns</label>
          <div formArrayName="formArray">
            <div *ngFor="let control of myForm.controls['formArray'].controls; let i = index">
              <app-propertyfromsubcompoent [myForm]="myForm" [itemForm]="myForm.controls.formArray.controls[i]"></app-propertyfromsubcompoent>
             <section class="col col-10"></section>
            </div>
          </div>
        </fieldset>
        <footer>
          <button type="submit" (click)="onSubmit()" class="btn btn-primary">
            Submit Registration
          </button>
        </footer>
      </form>
    </div>
  </div>
</sa-widget>