<div class="table-responsive col-sm-12">

  <table class="table table-hover table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th *ngFor="let columnName of tableColumnNames">{{columnName}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td *ngFor="let column of item; let i = index">
          <span *ngIf="i==0"><button type="submit" (click)="showUpdateTemplateModal(template)" class="btn btn-primary">Update Template</button></span>
          <span *ngIf="i==1"><button type="submit" (click)="delete()" class="btn btn-primary">Delete Template</button></span>
          <span *ngIf="i>1">{{column}}</span>
        </td>
      </tr>
    </tbody>
  </table>
  <br/>
  <div class="text-align-right" *ngIf="count>0">
    <ul class="pagination" *ngFor="let number of numPages">
      <li *ngIf="number==1&&selectedPage!=1">
        <a (click)="previous()"><i class="fa fa-arrow-left"></i></a>
      </li>
      <li class="disabled" *ngIf="number==1&&selectedPage==1">
        <a (click)="(null)"><i class="fa fa-arrow-left"></i></a>
      </li>
      <li class="active" *ngIf="number==selectedPage">
        <a (click)="(null)">{{number}}</a>
      </li>
      <li *ngIf="number!=selectedPage">
        <a (click)="goToPage(number)">{{number}}</a>
      </li>
      <li *ngIf="maxPage==number&&selectedPage!=maxPage">
        <a (click)="next()"><i class="fa fa-arrow-right"></i></a>
      </li>
      <li class="disabled" *ngIf="maxPage==number&&selectedPage==maxPage">
        <a (click)="(null)"><i class="fa fa-arrow-right"></i></a>
      </li>
    </ul>
  </div>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Update Template: ID WILL GO HERE</h4>
      </div>
      <div class="modal-body no-padding">

      </div>
    </div>
  </div>
</div>
