<form class="smart-form">
  <fieldset>
    <section class="col col-6">
      <label class="label">Template Name</label>
      <label class="input"> <i class="icon-append fa fa-question-circle"></i>
        <input [(ngModel)]="name" (ngModelChange)='changed($event)' name="name" type="text" placeholder="name">
        <b class="tooltip tooltip-top-right">
          <i class="fa fa-warning txt-color-teal"></i>
          Search by template name</b>
      </label>
    </section>

    <section class="col col-6">
      <label class="label">Template Column Name</label>
      <label class="input"> <i class="icon-append fa fa-question-circle"></i>
        <input [(ngModel)]="propName" (ngModelChange)='changed($event)' name="propName" type="text" placeholder="column name">
        <b class="tooltip tooltip-top-right">
          <i class="fa fa-warning txt-color-teal"></i>
          Search by column name</b>
      </label>
    </section>
  </fieldset>
</form>

