<div>
  <section class="col-sm-12">
    <button type="submit" (click)="showCreateInventoryModal()" class="btn btn-primary btn-xs btn-block">
      Add Inventory
    </button>
  </section>
</div>

<div bsModal #inventoryCreateModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="inventoryCreateModal"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Create Inventory</h4>
      </div>
      <div class="modal-body no-padding">
        <form class="smart-form" [formGroup]="myForm">
          <fieldset>
            <section class="col col-3">
              <label class="label">Inventory Name</label>
              <label class="input"> <i class="icon-append fa fa-user"></i>
                <input type="text" formControlName="name" name="name" id="name" placeholder="name"/>
                <b class="tooltip tooltip-bottom-right">Please provide a name for the new inventory item</b> </label>
            </section>
            <section class="col col-3">
              <label class="label">Inventory Type</label>
              <label class="input">
                <input type="text" formControlName="type" name="type" id="type" list="list">
                <datalist id="list">
                  <option *ngFor="let name of templateNameList" value="{{name}}">{{name}}</option>
                </datalist>
              </label>
            </section>
            <section class="col col-3">
              <label class="label">Inventory Price</label>
              <label class="input"> <i class="icon-append fa fa-user"></i>
                <input type="text" formControlName="price" name="price" id="price" placeholder="price"/>
                <b class="tooltip tooltip-bottom-right">Please provide a price for the new inventory item</b> </label>
            </section>
            <section class="col col-3">
              <label class="label">Inventory Quantity</label>
              <label class="input"> <i class="icon-append fa fa-user"></i>
                <input type="text" formControlName="quantity" name="quantity" id="quantity" placeholder="quantity"/>
                <b class="tooltip tooltip-bottom-right">Please provide a quantity you have for the new inventory item</b> </label>
            </section>
          </fieldset>
          <fieldset>
            <section>
              <label class="label">Inventory Description</label>
              <div>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <input type="text" formControlName="description" name="description" id="description" placeholder="description"/>
                  <b class="tooltip tooltip-bottom-right">Please provide a description for the new inventory item</b> </label>
              </div>
            </section>
          </fieldset>
          <fieldset>
            <app-inventorypropssubcomponent *ngFor="let control of myForm.controls['formArray'].controls; let i = index" [itemFormGroup]="myForm.controls.formArray.controls[i]"></app-inventorypropssubcomponent>
          </fieldset>

          <footer>
            <button type="submit" (click)="createInventory()" class="btn btn-primary">
              Create
            </button>
            <button type="button" class="btn btn-default" (click)="inventoryCreateModal.hide()">
              Cancel
            </button>
          </footer>
        </form>
      </div>
    </div>
  </div>
</div>
