<br/>
<form class="smart-form">
  <fieldset>
    <section class="col col-2">
      <label class="label">Inventory Name</label>
      <label class="input"> <i class="icon-append fa fa-question-circle"></i>
        <input [(ngModel)]="name" (ngModelChange)='changed($event)' name="name" type="text" placeholder="name">
        <b class="tooltip tooltip-top-right">
          <i class="fa fa-warning txt-color-teal"></i>
          Search by inventory name</b>
      </label>
    </section>

    <section class="col col-2">
      <label class="label">Inventory Type</label>
      <label class="input"> <i class="icon-append fa fa-question-circle"></i>
        <input [(ngModel)]="type" (ngModelChange)='changed($event)' name="type" type="text" placeholder="inventory type">
        <b class="tooltip tooltip-top-right">
          <i class="fa fa-warning txt-color-teal"></i>
          Search by inventory type</b>
      </label>
    </section>

  <section class="col col-2">
    <label class="label">Inventory Quantity</label>
    <label class="input"> <i class="icon-append fa fa-question-circle"></i>
      <input [(ngModel)]="quantity" (ngModelChange)='changed($event)' name="quantity" type="text" placeholder="inventory quantity">
      <b class="tooltip tooltip-top-right">
        <i class="fa fa-warning txt-color-teal"></i>
        Search by inventory type</b>
    </label>
  </section>

  <section class="col col-2">
    <label class="label">Inventory Price</label>
    <label class="input"> <i class="icon-append fa fa-question-circle"></i>
      <input [(ngModel)]="price" (ngModelChange)='changed($event)' name="price" type="text" placeholder="inventory price">
      <b class="tooltip tooltip-top-right">
        <i class="fa fa-warning txt-color-teal"></i>
        Search by inventory type</b>
    </label>
  </section>

  <section class="col col-2">
    <label class="label">Inventory Description</label>
    <label class="input"> <i class="icon-append fa fa-question-circle"></i>
      <input [(ngModel)]="description" (ngModelChange)='changed($event)' name="description" type="text" placeholder="inventory description">
      <b class="tooltip tooltip-top-right">
        <i class="fa fa-warning txt-color-teal"></i>
        Search by inventory type</b>
    </label>
  </section>

  <section class="col col-2">
    <label class="label">Inventory Property Name</label>
    <label class="input"> <i class="icon-append fa fa-question-circle"></i>
      <input [(ngModel)]="propName" (ngModelChange)='changed($event)' name="propName" type="text" placeholder="inventory property name">
      <b class="tooltip tooltip-top-right">
        <i class="fa fa-warning txt-color-teal"></i>
        Search by inventory type</b>
    </label>
  </section>
  </fieldset>
</form>