<sa-widget [editbutton]="false" color="blueDark">
    <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>Export to PDF / Excel</h2>
    </header>
    <div>
        <div class="widget-body no-padding">

            <sa-datatable
                    [options]="options"
                    tableClass="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th data-hide="mobile-p">id</th>
                    <th data-hide="expand">firstName</th>
                    <th data-hide="mobile-p">lastName</th>
                    <th data-hide="mobile-p,tablet-p">role</th>
                    <th data-hide="mobile-p,tablet-p">userName</th>
                    <th data-hide="mobile-p,tablet-p">emailAddress</th>
                    <th data-hide="mobile-p,tablet-p">activeFlag</th>
                </tr>
                </thead>
            </sa-datatable>
        </div>
    </div>
</sa-widget>