<div>
<table id="user" class="table table-bordered table-striped"
             style="clear:both">
        <tbody>
        <tr>
          <td style="width:30%">username</td>
          <td style="width:35%">
            <x-editable
              type="text"
              originalTitle="Enter username"
              [mode]="options.mode"
              [disabled]="true"
              [(model)]="model.username"
              className="editable editable-click editable-disabled">
            </x-editable>

          </td>
        </tr>
        <tr>
          <td style="width:30%">user id</td>
          <td style="width:35%">
            <x-editable
                    type="text"
                    originalTitle="Enter id"
                    [mode]="options.mode"
                    [disabled]="true"
                    [(model)]="model.id"
                    className="editable editable-click editable-disabled">
            </x-editable>

          </td>
        </tr>
        <tr>
          <td style="width:30%">firstname</td>
          <td style="width:35%">
            <x-editable
                    type="text"
                    placement="firstname"
                    originalTitle="Enter username"
                    [mode]="options.mode"
                    [disabled]="options.disabled"
                    [(model)]="model.firstname"
                    (change)="onChange()"
                    className="editable editable-click">
            </x-editable>

          </td>
        </tr>
        <tr>
          <td style="width:30%">lastname</td>
          <td style="width:35%">
            <x-editable
                    type="text"
                    placement="lastname"
                    originalTitle="Enter username"
                    [mode]="options.mode"
                    [disabled]="options.disabled"
                    [(model)]="model.lastname"
                    className="editable editable-click">
            </x-editable>

          </td>
        </tr>
        <tr>
          <td style="width:30%">emailaddress</td>
          <td style="width:35%">
            <x-editable
                    type="email"
                    placement="emailaddress"
                    originalTitle="Enter username"
                    [mode]="options.mode"
                    [disabled]="options.disabled"
                    [(model)]="model.emailaddress"
                    className="editable editable-click">
            </x-editable>

          </td>
        </tr>
        <tr>
          <td style="width:30%">password</td>
          <td style="width:35%">
            <x-editable
                    type="password"
                    placement="password"
                    originalTitle="Enter username"
                    [mode]="options.mode"
                    [disabled]="options.disabled"
                    [(model)]="model.password"
                    className="editable editable-click">
            </x-editable>

          </td>
         </tr>
        </tbody>
      </table>
</div>
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Please reenter your password.</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input [(ngModel)]="verifyPassword" type="password" class="form-control">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="lgModal.hide()">
                    Cancel
                </button>
                <button class="btn btn-primary" (click)="confirmPassword($event)">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>