<div [formGroup]="itemForm">
  <section *ngIf="!this.itemForm.controls['isPropNameError'].value" class="col col-5">
    <label class="label">Name</label>
    <label class="input"> <i class="icon-append fa fa-user"></i>
      <input type="text" formControlName="propName" placeholder="name"/>
      <b class="tooltip tooltip-bottom-right">Please provide a name for the template column</b> </label>
  </section>

  <section *ngIf="this.itemForm.controls['isPropNameError'].value" class="col col-5">
      <label class="label">Name</label>

      <label class="input"> <i class="icon-append fa fa-user"></i>
        <input type="text" formControlName="propName"  placeholder="name"
                 class="ng-pristine ng-valid ng-touched invalid" aria-required="true" aria-describedby="prop-name-error">
        <em id="prop-name-error" class="invalid">{{this.itemForm.controls['isPropNameMessage'].value}}</em>
        <b class="tooltip tooltip-bottom-right">{{this.itemForm.controls['isPropNameMessage'].value}}</b>
      </label>
  </section>

  <section *ngIf="!this.itemForm.controls['isPropTypeError'].value" class="col col-3">
    <label class="label">Type</label>
    <label class="select">
      <select formControlName="propType" name="type">
        <option value=""> Choose Type</option>
        <option value="STRING">TEXT</option>
        <option value="NUMBER">NUMBER</option>
        <option value="BOOLEAN">YES/NO</option>
      </select> <i></i>
    </label>
  </section>

  <section *ngIf="this.itemForm.controls['isPropTypeError'].value" class="col col-3">
    <label class="label">Type</label>

    <label class="select">
      <select formControlName="propType" name="type" class="ng-pristine ng-valid ng-touched invalid" aria-required="true" aria-describedby="prop-type-error">
        <option value=""> Choose Type</option>
        <option value="STRING">TEXT</option>
        <option value="NUMBER">NUMBER</option>
        <option value="BOOLEAN">YES/NO</option>
      </select> <i></i>
      <em id="prop-type-error" class="invalid">{{this.itemForm.controls['isPropTypeMessage'].value}}</em>
      <b class="tooltip tooltip-bottom-right">{{this.itemForm.controls['isPropTypeMessage'].value}}</b>
    </label>
  </section>

  <section *ngIf="!this.itemForm.controls['isPropRequiredError'].value" class="col col-2">
    <label class="label">Required</label>
    <label class="select">
      <select formControlName="propRequired" name="required">
        <option value=""> Choose Type</option>
        <option value="TRUE">YES</option>
        <option value="FALSE">NO</option>
      </select> <i></i>
    </label>
  </section>

  <section *ngIf="this.itemForm.controls['isPropRequiredError'].value" class="col col-2">
    <label class="label">Required</label>
    <label class="select">
      <select formControlName="propRequired" name="required" class="ng-pristine ng-valid ng-touched invalid" aria-required="true" aria-describedby="prop-required-error">
        <option value=""> Choose Type</option>
        <option value="TRUE">YES</option>
        <option value="FALSE">NO</option>
      </select> <i></i>
      <em id="prop-required-error" class="invalid">{{this.itemForm.controls['isPropRequiredMessage'].value}}</em>
      <b class="tooltip tooltip-bottom-right">{{this.itemForm.controls['isPropRequiredMessage'].value}}</b>
    </label>
  </section>

  <section *ngIf="this.itemForm.controls['isLast'].value" class="col col-2">
      <br/>
      <br/>
      <a (click) = "addInput()" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add</a>
  </section>
  <section *ngIf="!this.itemForm.controls['isLast'].value" class="col col-2">
    <br/>
    <br/>
    <a (click) = "delInput()" class="btn btn-primary"><i class="glyphicon glyphicon-minus-sign"></i> Remove</a>
  </section>
</div>
