<form id="smart-form-register" class="smart-form"
      [saUiValidate]="validationOptions"
      novalidate="novalidate">
  <header>
    User Registration form
  </header>

  <fieldset>
    <div *ngIf="!isUserNameError">
      <section>
        <label class="input"> <i class="icon-append fa fa-user"></i>
          <input [(ngModel)]="username1" type="text" name="username1" id="username1" placeholder="Username"/>
          <b class="tooltip tooltip-bottom-right">Needed to create a username</b> </label>
      </section>
    </div>

    <div *ngIf="isUserNameError">
      <section>
        <label class="input state-error">
          <i class="icon-append fa fa-user"></i>
          <input [(ngModel)]="username1" type="text" name="username1" id="usernameError" placeholder="Username"
          class="ng-pristine ng-valid ng-touched invalid" aria-required="true" aria-describedby="username1-error"/>
          <em id="username1-error" class="invalid">{{userNameMessage  }}</em>
          <b class="tooltip tooltip-bottom-right">{{userNameMessage  }}</b>
        </label>
      </section>
    </div>

    <div *ngIf="!isEmailError">
      <section>
        <label class="input"> <i class="icon-append fa fa-envelope-o"></i>
          <input [(ngModel)]="email" type="email" name="email" placeholder="Email address"/>
          <b class="tooltip tooltip-bottom-right">Needed to supply the users email address</b> </label>
      </section>
    </div>

    <div *ngIf="isEmailError">
      <section>
        <label class="input state-error">
          <i class="icon-append fa fa-envelope-o"></i>
          <input [(ngModel)]="email" type="text" name="email" id="emailError" placeholder="Email address"
                 class="ng-pristine ng-valid ng-touched invalid" aria-required="true" aria-describedby="email-error"/>
          <em id="email-error" class="invalid">{{emailMessage  }}</em>
          <b class="tooltip tooltip-bottom-right">{{emailMessage  }}</b>
        </label>
      </section>
    </div>

    <section>
      <label class="input"> <i class="icon-append fa fa-lock"></i>
        <input [(ngModel)]="password1" type="password" name="password1" placeholder="Password" id="password"/>
        <b class="tooltip tooltip-bottom-right">Don't forget your password</b> </label>
    </section>

    <section>
      <label class="input"> <i class="icon-append fa fa-lock"></i>
        <input [(ngModel)]="passwordConfirm" type="password" name="passwordConfirm" placeholder="Confirm password"/>
        <b class="tooltip tooltip-bottom-right">Don't forget your password</b> </label>
    </section>
  </fieldset>

  <fieldset>
    <div class="row">
      <section class="col col-6">
        <label class="input">
          <input [(ngModel)]="firstname" type="text" name="firstname" placeholder="First name"
          />
        </label>
      </section>
      <section class="col col-6">
        <label class="input">
          <input [(ngModel)]="lastname" type="text" name="lastname" placeholder="Last name"
          />
        </label>
      </section>
    </div>

    <div class="row">
      <section class="col col-6">
        <label class="select">
          <select name="role" [(ngModel)]="role" >
            <option value="0" disabled>Role</option>
            <option value="CUSTOMER">CUSTOMER</option>
            <option value="ADMIN">ADMIN</option>
            <option value="ACCOUNT_MANAGER">ACCOUNT_MANAGER</option>
            <option value="WAREHOUSE">WAREHOUSE</option>
          </select> <i></i> </label>
      </section>
    </div>
  </fieldset>
  <footer>
    <button type="submit" (click)="submit($event)" class="btn btn-primary">
      Submit Registration
    </button>
  </footer>
</form>
