<div class="table-responsive col-sm-12">
  <table class="table table-hover table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
      <tbody>
      <tr>
          <td>Update Button</td>
          <td>Delete Button</td>
          <td>Id1</td>
          <td>Name1</td>
      </tr>
      <tr>
          <td>Update Button</td>
          <td>Delete Button</td>
          <td>Id2</td>
          <td>Name2</td>
      </tr>
      </tbody>
  </table>
    <br/>
</div>
