<div class="table-responsive col-sm-12">

    <table class="table table-hover table-striped table-bordered table-condensed">
        <thead>
        <tr>
            <th *ngFor="let columnName of tableColumnNames">{{columnName}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items; let j = index">
            <td *ngFor="let column of item; let i = index">
                <span *ngIf="i==0"><button type="submit" (click)="showUpdateInventoryModal(j)" class="btn btn-primary">Update Inventory</button></span>
                <span *ngIf="i==1"><button type="submit" (click)="deleteInventory(j)" class="btn btn-primary">Delete Inventory</button></span>
                <span *ngIf="i>1">{{column}}</span>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
    <div class="text-align-right" *ngIf="count>0">
        <ul class="pagination" *ngFor="let number of numPages">
            <li *ngIf="number==1&&selectedPage!=1">
                <a (click)="previous()"><i class="fa fa-arrow-left"></i></a>
            </li>
            <li class="disabled" *ngIf="number==1&&selectedPage==1">
                <a (click)="(null)"><i class="fa fa-arrow-left"></i></a>
            </li>
            <li class="active" *ngIf="number==selectedPage">
                <a (click)="(null)">{{number}}</a>
            </li>
            <li *ngIf="number!=selectedPage">
                <a (click)="goToPage(number)">{{number}}</a>
            </li>
            <li *ngIf="maxPage==number&&selectedPage!=maxPage">
                <a (click)="next()"><i class="fa fa-arrow-right"></i></a>
            </li>
            <li class="disabled" *ngIf="maxPage==number&&selectedPage==maxPage">
                <a (click)="(null)"><i class="fa fa-arrow-right"></i></a>
            </li>
        </ul>
    </div>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Update Inventory: {{inventoryId}}</h4>
            </div>
            <div class="modal-body no-padding">
                <form class="smart-form" [formGroup]="myForm">
                    <fieldset>
                        <section *ngIf="!this.myForm.controls['isNameError'].value" class="col col-3">
                            <label class="label">Inventory Name</label>
                            <label class="input"> <i class="icon-append fa fa-user"></i>
                                <input type="text" formControlName="name" name="name" id="name" placeholder="name"/>
                                <b class="tooltip tooltip-bottom-right">Please provide a name for the new inventory item</b> </label>
                        </section>
                        <section *ngIf="this.myForm.controls['isNameError'].value" class="col col-3">
                            <label class="label">Inventory Name</label>
                            <label class="input"> <i class="icon-append fa fa-user"></i>
                                <input type="text" formControlName="name"  placeholder="name"
                                       class="ng-pristine ng-valid ng-touched invalid" aria-required="true" aria-describedby="inventory-name-error">
                                <em id="inventory-name-error" class="invalid">{{this.myForm.controls['nameErrorMessage'].value}}</em>
                                <b class="tooltip tooltip-bottom-right">{{this.myForm.controls['nameErrorMessage'].value}}</b>
                            </label>
                        </section>
                        <section *ngIf="!this.myForm.controls['isPriceError'].value" class="col col-3">
                            <label class="label">Inventory Price</label>
                            <label class="input"> <i class="icon-append fa fa-user"></i>
                                <input type="text" formControlName="price" name="price" id="price" placeholder="price"/>
                                <b class="tooltip tooltip-bottom-right">Please provide a price for the new inventory item</b> </label>
                        </section>
                        <section *ngIf="this.myForm.controls['isPriceError'].value" class="col col-3">
                            <label class="label">Inventory Type</label>
                            <label class="input"> <i class="icon-append fa fa-user"></i>
                                <input type="text" formControlName="price"  placeholder="price"
                                       class="ng-pristine ng-valid ng-touched invalid" aria-required="true" aria-describedby="inventory-price-error">
                                <em id="inventory-price-error" class="invalid">{{this.myForm.controls['priceErrorMessage'].value}}</em>
                                <b class="tooltip tooltip-bottom-right">{{this.myForm.controls['priceErrorMessage'].value}}</b>
                            </label>
                        </section>
                        <section *ngIf="!this.myForm.controls['isQuantityError'].value" class="col col-3">
                            <label class="label">Inventory Quantity</label>
                            <label class="input"> <i class="icon-append fa fa-user"></i>
                                <input type="text" formControlName="quantity" name="quantity" id="quantity" placeholder="quantity"/>
                                <b class="tooltip tooltip-bottom-right">Please provide a quantity you have for the new inventory item</b> </label>
                        </section>
                        <section *ngIf="this.myForm.controls['isQuantityError'].value" class="col col-3">
                            <label class="label">Inventory Type</label>
                            <label class="input"> <i class="icon-append fa fa-user"></i>
                                <input type="text" formControlName="quantity"  placeholder="quantity"
                                       class="ng-pristine ng-valid ng-touched invalid" aria-required="true" aria-describedby="inventory-quantity-error">
                                <em id="inventory-quantity-error" class="invalid">{{this.myForm.controls['quantityErrorMessage'].value}}</em>
                                <b class="tooltip tooltip-bottom-right">{{this.myForm.controls['quantityErrorMessage'].value}}</b>
                            </label>
                        </section>
                    </fieldset>
                    <fieldset>
                        <section>
                            <label class="label">Inventory Description</label>
                            <div>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input type="text" formControlName="description" name="description" id="description" placeholder="description"/>
                                    <b class="tooltip tooltip-bottom-right">Please provide a description for the new inventory item</b> </label>
                            </div>
                        </section>
                    </fieldset>
                    <fieldset>
                        <div formArrayName="formArray">
                            <app-inventorypropssubcomponent *ngFor="let control of myForm.controls['formArray'].controls; let i = index" [itemFormGroup]="myForm.controls.formArray.controls[i]"></app-inventorypropssubcomponent>
                            <section class="col col-10"></section>
                        </div>
                    </fieldset>
                    <footer>
                        <button type="submit" (click)="updateInventory()" class="btn btn-primary">
                            Update
                        </button>
                        <button type="button" class="btn btn-default" (click)="lgModal.hide()">
                            Cancel
                        </button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>
